/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.contentt{
    background-color:#FFFFFF;
}


.movieinfor{
    width: 70%;
    margin: 0 auto;;
    display: grid;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
}

.Img{
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    margin: 20px;
    display:flex;
    justify-content:center; /* horizontally center
    align-items:center;
    border-style: outset;
}
.Img-movie {
    width: 95%;
    height: 95%;
    border-radius: 8px;
    border: 2px solid black;
}
.simpleinfor{
    display: flex;
}

.movie-title{
    border-bottom: 1px solid black;
}
.information{
    display: grid;
    grid-row: auto;
    margin: 20px 0px 10px 10px;
    height: 450px;
    width: 75.8%;
}
.information .movie-name{
    font-size: 40px;
    margin: 10px;
}

.movie-infor label{
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    width: 15%;
}

.movie-detail-fb-booking{
    justify-content: flex-end;
    align-items: flex-end;
}
.booking-ticket{
    border-radius: 20px;
    width: 20%;
    margin-bottom: 20px;
    background-color: 	lightgray;
    height: 45px;
    font-size: 20px;
    text-align: center;
}
.booking-ticket:hover{
    transform: translate3d(2px,2px,3rem);
}
.trailermovie{
    margin-bottom: 20px;
}
.std{
    display: block;
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 24px;
}
.details .std{
    text-align: center;
    margin: 20px;
    
}
.details-title{
    text-align: center;
    display: block;
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-size: 20px;
    line-height: 18px;
} */