  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.contentt{
    background-color:white;

}


.movieinfor{
    width: 70%;
    margin: 0 auto;;
    display: grid;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
}

.Img{
    width: 220px;
    height: 350px;
    margin: 20px;
    display:flex;
    justify-content:center; 
    align-items:center;
    
}
.Img-movie {
    width: 95%;
    height: 95%;
    border-radius: 8px;
    border: 2px solid black;
}
.simpleinfor{
    display: flex;
}

.movie-title{

    border-bottom: 1px solid black;
}
.information{
    display: grid;
    grid-row: auto;
    margin: 10px 0px 10px 10px;
    height: 450px;
    width: 75.8%;
    color:black
}
.information .movie-name{
    font-size: 40px;
}


.movie-detail-fb-booking{
    justify-content: flex-end;
    align-items: flex-end;
}
.booking-ticket{
    border-radius: 40px;
    width: 20%;
    margin-bottom: 20px;
    background-color: #CD2626;
    height: 45px;
    font-size: 20px;
    /* text-align: center; */
    color:black
}
.booking-ticket:hover{
    transform: translate3d(2px,2px,3rem);
}
.trailermovie{
    margin-top: 50px;
   
   
}


.std{
   
    font-family: Verdana, Arial, sans-serif;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

.deepinfor {
    margin-left: 7cm;

}

.details-title{
    width: 20%;
    font-size: 20px;
    color:black;
}  
