.movieshowing{
    width: 100%;
    background-color: white;
}
.feature{
    width: 100%;
    background: white;
}
.mscontainer{
    width: 100%;
    margin: auto;
}

.mstitle{
    height: 50px;
    border-bottom: 1px solid white;
    overflow: hidden; 
    text-align: left;
}
.mstitle span{
    color: white;
    font-size: 27px;
    font-weight: 500;
    display: inline-block;
    margin-left: 60px;
    padding: 5px 5px
}
.listcard{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    
}